*.pyc
*~
.idea/
.vscode/
.DS_Store
*.swp
*.db
*key
*.log
google_signin_client_id
db_url*
schema.sql
*screenlog*
**/data/*
!**/data/pretrained_models/
back-end/www/**/*.pt
back-end/www/**/*.pkl
mturk_batch_with_answers.json
mturk_data.json
metadata*.json

